#navbar {
    display: flex;
    flex-direction: column;
    height: auto;
}

#navbar ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kart {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.kart .left {
    padding: 1rem;
}